<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Bookkeeper</title>
    <link href="~/css/site.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/8d4654250c.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-toggleable-md navbar-dark bg-primary border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand d-md-none" asp-controller="Home" asp-action="Index">Bookkeeper</a>
                <div class="navbar-collapse collapse d-md-inline-flex">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link text-light dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Record Keeping
                            </a>
                            <div class="dropdown-menu bg-primary" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item text-light bg-primary" asp-controller="Recording" asp-action="Overview">Overview</a>
                                <a class="dropdown-item text-light bg-primary" asp-controller="Recording" asp-action="RecordTransaction">Record a Transaction</a>
                                <a class="dropdown-item text-light bg-primary" asp-controller="Recording" asp-action="Journal">Journal</a>
                                <a class="dropdown-item text-light bg-primary" asp-controller="Recording" asp-action="GeneralLedger">General Ledger</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link text-light dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Financial Statements
                            </a>
                            <div class="dropdown-menu bg-primary" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item text-light bg-primary" asp-controller="" asp-action="">Overview</a>
                                <a class="dropdown-item text-light bg-primary" asp-controller="" asp-action="">Balance Sheet</a>
                                @*<a class="dropdown-item text-light bg-primary" asp-controller="" asp-action="">Income Statement</a>
                                <a class="dropdown-item text-light bg-primary" asp-controller="" asp-action="">Statement of Cash Flows</a>*@
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-controller="Home" asp-action="Help">Help</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-controller="Home" asp-action="About">About</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav ml-auto">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-controller="Account" asp-action="Logout">Logout</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-controller="Account" asp-action="Login">Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-controller="Account" asp-action="Register">Register</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            Bookkeeper - Developed by Andrew Welch
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
