@{
    ViewData["Title"] = "About";
}

<div class="row">
    <div class="col-12 col-sm-10 offset-sm-1 header-wrapper shadow">
        <h1>About</h1>
    </div>
</div>
<br />
<br />
<div class="row">
    <div class="col-12 col-sm-10  offset-sm-1 text-section shadow">
        <article>
            <section>
                <h4>Summary</h4>
                <p>
                    Bookkeeper provides functionality to record financial events via creating double-entry transactions. 
                    Transactions are initially stored within the journal upon creation. When accessing the General Ledger, 
                    all committed transactions are automatically Posted to generate the General Ledger balances.
                </p>
            </section>
        </article>
    </div>
</div>

