
@{
    ViewData["Title"] = "Help";
}

<div class="row">
    <div class="col-12 col-sm-10 offset-sm-1 header-wrapper shadow">
        <h1>Help</h1>
    </div>
</div>
<br />
<br />
<div class="row">
    <div class="col-12 col-sm-10  offset-sm-1 text-section shadow">
        <article>
            <secton>
                <h3 class="text-center"><u>FAQs</u></h3>
                <ul>
                    <li>
                        <b>Why can't I see a Balance Sheet or General Ledger?</b>
                        <br />
                        You are either not logged in, or you do not have any committed transactions. Amount of committed transactions can be viewed on Journal.
                    </li>
                    <li>
                        <b>Why can't I commit a transaction?</b>
                        <br />
                        Two conditions must be fulfilled in order to commit: 1. user is authenticated  2. debit and credit balances equal
                    </li>
                </ul>
            </secton>
            <section>
                <h3 class="text-center"><u>Recording Module</u></h3>
                <p>
                    The recording module allows users to create transactions, generate the general journal, and generate the general ledger.
                    <br />
                    An unathenticated user will be unable to commit transactions.
                </p>
            </section>
            <section>
                <h3 class="text-center"><u>Register/Login Module</u></h3>
                <p>
                    A valid email is required for registering an account. Once registered, username and password are the only info required to login.
                </p>
            </section>
        </article>
    </div>
</div>

