@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        @if (User.Identity.IsAuthenticated)
        {
            <h1 class="display-1">Welcome - @User.Identity.Name</h1>

        }
    </div>
