
@{
    ViewData["Title"] = "Privacy";
}

<div class="row">
    <div class="col-12 col-sm-10 offset-sm-1 header-wrapper shadow">
        <h1>Privacy</h1>
    </div>
</div>
<br />
<br />
<div class="row">
    <div class="col-12 col-sm-10  offset-sm-1 text-section shadow">
        <article>
            <section>
                <p>
                    Bookkeeper does not utilize cookies at any point throughout the application.
                    <br />
                    <br />
                    Emails are stored within an encrypted SQL Server database and are <b>never</b> shared.
                </p>
            </section>
        </article>
    </div>
</div>

