
body {
    font-family: Georgia !important;
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.header-wrapper {
    color: white;
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #b4b4b4;
    text-shadow: 2px 2px 4px black;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

a:hover {
    text-decoration: underline;
}

a.nav-link {
    font-size: 17px;
}

    a.nav-link:hover {
        text-decoration: underline;
    }

    a.nav-link:focus {
        text-shadow: 1px 1px 2px black;
    }

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: white;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

a.dropdown-item:hover {
    color: white !important;
}

.navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255, .9)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid black !important;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.row-actions {
    font-size: 14px;
}

i.fa-plus-circle:hover {
    color: green;
}

i.fa-edit:hover {
    color: orange;
}

i.fa-trash:hover {
    color: red;
}